/* ESTILOS GENERALES */
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS PARA EL BODY */
body {
    display: flex;
    flex-direction: column;
}

/* ESTILOS PARA LA BARRA DE NAVEGACION */
nav {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

nav .nav-item .nav-link {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.titulo{
    text-align: center;
}

/* ESTILOS DEL CONTENIDO PRINCIPAL */
main {
    flex-grow: 1; 
    padding: 20px;
}

/* ESTILOS PARA LAS COLUMNAS */
.main-container .col-6 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* IMAGEN DE ELEVADOR */
#img-elevador {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* LOGO*/
.logo{
    
    max-width: 30vw;    
    max-height: 15vh;    
    object-fit: contain;
}

/* ESTILOS DEL FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .main-container .row {
        flex-direction: column;
    }

    .main-container .col-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 580px) {
    nav .nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    nav .nav-item {
        width: 100%;
    }

    nav .nav-link {
        text-align: center;
        padding: 10px 15px;
        font-size: 18px;
    }
}
